$theme: #004d40;
$text-color: white;
$animation-speed: 1.5s;

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Coda", sans-serif;
  background: linear-gradient(#004D40, #00897B);
  color: $text-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: $animation-speed fadein;
  @media(max-height: 480px) {
    font-size: 0.9em;
  }
}
a, a:visited {
  color: $text-color;
  display: inline-block;
  text-decoration: none;
  line-height: 1.2;
  opacity: 0.8;
}
a:hover{
  opacity: 1;
}

sup {
  font-size: 0.4em;
}
.container {
  animation: $animation-speed moveup;
}
p {
  margin: 0;
}
h3 {
  margin-bottom: 0em;
}

.countdown {
  font-family: "Source Code Pro", monospace;
  font-size: 1.2em;
  color: #ffeb3b;
}

.footer-links {
  margin-top: 2em;
}

nav {
  color: $text-color;
  opacity: 0.6;
  font-size: 0.9em;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      &:after {
       content: '\00b7';
       display: inline-block;
       margin: 0 2px 0 5px;
      }

      &:last-child:after{
        display: none;
      }
    }
  }
}
.logo {
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
  img {
    width: 100%;
  }
  @media(max-height: 480px) {
    width: 150px;
    height: 150px;
  }
}

.redacted {
  font-style: italic;
  margin-top: 1em;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes moveup {
  from {padding-top: 40px;}
  to {padding-top: 0;}
}
